<!DOCTYPE html>
<html>

    <head>
        <title>ERROR 404</title>
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            {{>pagenotfound}}
        </div>
        {{>footer}}
    </body>

</html>