<!DOCTYPE html>
<html>

    <head>
        <title>ABOUT</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>    

    <body>
        {{>header}}
        <img class="portrait" src="https://www.koreaboo.com/wp-content/uploads/2017/07/KimJiWon-Feat.jpg">
        {{>footer}}
    </body>
    
</html>