<!DOCTYPE html>
<html>

    <head>
        <title>WEBSERVER</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="/img/weather.png">
        <script src="js/index.js" async></script>
    </head>    

    <body>
        {{>header}}
        <div class="main-content">
            <p class="content">Input location data below</p>

            <form>
                <input class="search-input" type="text" placeholder="enter address">
                <button>Search</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>

        </div>
        {{>footer}}
    </body>
    
</html>